.hero {
  height: 60vh;
  background: url("../images/img-home.jpg") center center/cover no-repeat;
  // background-color: rgba(0, 7, 14, 0.904);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  transition-duration: 200ms;
  position: sticky;

  &.mini {
    background: white;
    box-shadow: none;
    height: unset;
    justify-content: left;
    padding: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.493) 0px 2px 4px;

    #hero-search {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      width: auto;
      .search-select {
        background-color: none;
        display: flex;
        flex-direction: row;

        justify-content: left;
        width: atuo;
        box-shadow: none;
        padding: 0rem;
        padding-bottom: 1rem;
      }
      .module-search {
        margin: unset !important;
        padding: 0rem;
        display: flex;
        #holidaysHeroView {
          margin: unset;
          .from,
          .destination {
            display: flex;
            // flex-direction: row;
            align-items: center;
            justify-content: center;
            .label {
              // min-width: 130px;
              margin-right: 1rem;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .hero-container {
    display: grid;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    grid-template-columns: 5.5fr 10fr;
    object-fit: contain;
    max-width: 1000px;
    padding: 1rem;

    #hero-text {
      font-size: 5rem;
      color: white;
    }

    #hero-search {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .search-select {
        background-color: white;
        display: flex;
        padding: 0.75rem 2rem;
        border-radius: 100rem;
        justify-content: center;
        width: atuo;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.493) 0px 2px 4px;
        .module-icon {
          padding: 0rem 0.6rem;
        }
      }

      .module-search {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        width: 100%;
        border-radius: 1rem;
        margin: -30px;
        background-color: white;
        // box-shadow: rgba(0, 0, 0, 0.493) 0px 2px 4px;
        transition-duration: 200ms;
        &:hover {
          box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
