.discCard {
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow-y: visible;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.493) 0px 0px 4px;
  border-radius: 0.5rem;
  //   min-width: 200px;
  width: auto;
  margin-right: 1rem;
  height: 350px;

  .img {
    border-radius: 0.5rem 0.5rem 0px 0px;
    height: 175px;
    object-fit: cover;
    border: 0px;
    background-color: cornflowerblue;
  }
  .info {
    color: #292929;
    padding: 0.8rem;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-weight: lighter;
    .title {
      font-size: 1.3rem;
      font-weight: bold;
    }
    .money {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      width: 100%;
      .cost {
        text-align: right;
        .oldprice {
          margin-right: 0.5rem;
          text-decoration: line-through;
          display: inline;
        }
        .newprice {
          color: purple;
          font-size: 1.5em;
          display: inline;
        }
      }
    }
    .icon-list {
      align-self: center;
      margin: 0.5rem 0rem;
      font-size: 1.5em;
    }
    .btn {
      margin-top: 0.2rem;
      align-self: center;
      text-decoration: none;
      color: white;
      background-color: purple;
      border-radius: 0.25rem;
      text-align: center;
      margin-bottom: 1rem;

      width: 100%;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
